# Caché de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/
env/

# Empaquetado y distribución
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
